*.docx
*.odt
*.odp
*.png
Μηχανολογικός Σχεδιασμός 1/

#Exceptions for rendering images in github
!cyclic_stress.png
!random_cyclic.png
!reaction-Q-wheels.png
!S-N-diagram.png
# ignore pics for support chapter
!support-1.png
!support-2.png
!support-3.png

# ignore pics for wire rope chapter
!chem-comp-rope.png
