*.docx
*.odt
*.odp
*.png

#ignore specific folders
Μηχανολογικός Σχεδιασμός 1/


#Exceptions for rendering images in github
!cyclic_stress.png
!random_cyclic.png
!reaction-Q-wheels.png
!S-N-diagram.png
# ignore pics for support chapter
!supports-1.png
!supports-2.png
!supports-3.png

# ignore pics for wire rope chapter
!chem-comp-rope.png
!microstructure-duct.png

# ignore pics for vibrations chapter
!vibration_control.png

# ignore folder for bib files
!Μηχανολογικός Σχεδιασμός 1/Μηχανολογικός Σχεδιασμός 1/papers-cranes/bib-files/S0143974X20310282.bib
!Μηχανολογικός Σχεδιασμός 1/Μηχανολογικός Σχεδιασμός 1/papers-cranes/bib-files/S0888327013003166.bib
!Μηχανολογικός Σχεδιασμός 1/Μηχανολογικός Σχεδιασμός 1/papers-cranes/bib-files/S0967066118305306.bib
!Μηχανολογικός Σχεδιασμός 1/Μηχανολογικός Σχεδιασμός 1/papers-cranes/bib-files/S1350630720314175.bib
!Μηχανολογικός Σχεδιασμός 1/Μηχανολογικός Σχεδιασμός 1/papers-cranes/bib-files/S1350630722001911.bib
